# Sorry, folks. Too specific to be in a public repo
Portraits

# Binaries I don't want in
bin
obj
*.obj
*.exe

# No visual studio junk either
.vs

# Copyright issues
Pre-Assets/3rd


# Too large
GenScript/MkLvUpTable.html
Foes/Editor/Mascotte.png


# Stuff not to be put here
Font Check/*
!Font Check/*.bb
MakeMiniFont/fnt
MakeMiniFont/*.jfbf
